
form{
	display:flex;
	font-size:large;
	flex-direction: column;
}
.formelem{
	padding: 10px;
}
#affiche{
	color: red;
}
button[type=submit]{
	background-color: blue;
	color: white;
}
button[type=reset]{
	background-color: red;
	color: white;
}

.alert{
	font-size: large;
	color:red;
}
